{
  "extends": [
    "@selleo/react"
  ],
  "rules": {
    "no-console": [
      "error",
      {
        "allow": [
          "info",
          "error"
        ]
      }
    ],
    "no-debugger": "off"
  }
}
